.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    border: 5px solid black;
    border-radius: 10px;
    justify-content: space-evenly;
    width: 80%;
    margin: 20px 0;
}
